td
{
    border: 1px solid black;
    width : 10;
    height : 13;
}
table
{
    border-collapse: collapse;
}
.ship_show
{
    display : flex;
}
.army_ship
{
    max-height : 300;
}
.ship
{
    position: absolute;
    height: 50px;
    width: auto;
}
.battle_ship
{
    width:520;
    height:auto;
}
.link_div
{
    height: 200;
}